.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.column-titles {
    display: flex;
}
.performance {
    display: flex;
    padding-left: 255px;
}
.seo {
    display: flex;
    padding-left: 100px;
}
.accessibilty {
    display: flex;
    padding-left: 95px;
}
.best-practices {
    display: flex;
    padding-left: 65px;
}
.filter-add-website-row {
    display: flex;
    width: 75%;
    justify-content: center;
    flex-direction: column;
}
.filter-website-button {
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: #eaeaea solid 1px;
    padding-top: 15px;
    padding-bottom: 25px;
}
.add-button {
    position: absolute;
    right: 0px;
    background-color: #5a56f7;
    height: 40px;
    width: 125px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    margin-top: 7px;
}
.column-placement {
    display: flex;
    padding-bottom: 3px;
    padding-top: 15px;
    font-size: 12px;
}
a {
    color: white;
    text-decoration: none;
}
.filter-button {
    display: flex;
    height: 30px;
    border-radius: 30px;
}
.a-z {
    height: 30px;
    width: 75px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: lightgrey;
    font-size: 13px;
}
