.LoginBox {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 60%;
  margin-top: 15%;
}

.LoginInputField {
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 8px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  padding: 5px;
}

.LoginButton {
  text-align: center;
  width: 100px;
  padding: 5px;
  margin-top: 8px;
  border-radius: 20px;
  border-style: solid;
  border-width: thin;
  background-color: #5D68FE;
  color: white;
  height: 25px;
}

.LoginTitle {
  text-align: center;
  margin-right: 45%;
  margin-left: 10%;
}

.LoginImageBox {
  margin-left: 50%;
  position:absolute;

}

.LoginContainerBox {
  display: grid;
}

.LoginImage {
  max-width: 100%;
  height: 720px;
}

.EmailText {
  font-size: 12px;
  margin-top: 5%;
}
