.LoginBox {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 60%;
  margin-top: 15%;
}

.LoginInputField {
  text-align: left;
  height: 20px;
  margin-top: 8px;
  border-radius: 5px;
  border: solid black 1px;
}

.LoginButton {
  text-align: center;
  width: 100px;
  padding: 5px;
  margin-top: 8px;
  border-radius: 20px;
  border: solid 1px;
  background-color: #5D68FE;
  color: white;
  height: 25px;
}

.input-half {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-half {
  display: flex;
}

.EmailText {
  font-size: 12px;
}
.login-screen {
  display: flex;
  justify-content: center;
}
.large up {
  display: flex;
}
.login-organizer {
  display: flex;
  flex-direction: column;
}
.submit {
  display: flex;
}
.tablet-login-screen {
  display: flex;
}
.tablet-login-organizer {
  display: flex;
}
.tablet-image-half {
  display: flex;
}
.login {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
}
.login-button {
  display: flex;
}
.tablet-login-image {
  display: flex;
  width: 75%;
}
.tablet-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.all-sizes {
  display: flex;
  justify-content: center;
}
.desktop-image {
  display: flex;
  width: 75%;
}
.desktop-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}