.menu {
    display: flex;
    background-color: #1A1E29;
    height: 90px;
    justify-content: center;
}
.menu a {
    text-decoration: none;
    color: white;
}
.menu-items {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 75%;
  
}
li {
    list-style: none;
}
.wayfinder {
    display: flex;
    position: absolute;
    left: 13%;
}
.logout {
    display: flex;
    position: absolute;
    right: 13%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }